/* @media prompts, @import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
/* variables */
:root {

}
/* || general styles (eg. body, h1, h2) */
body {
  width:100vw;
  height:100vh;
  overflow-y:hidden;
  margin:0;
  background-color:rgb(255,253,247);
  transition:1s background-color;
}
p,input,button,span {
  font-family:'Open Sans', sans-serif;
  margin:0;
}
h1,h2,h3,h4,h5,h6,.headerText {
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
  color:rgb(65,65,65);
  margin:0;
}
.smallText {
  font-size:13px;
}
.xCentered {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
}
.textCentered {
  text-align:center;
}
.underline {
  text-decoration:underline;
  text-decoration-thickness:1px;
}
.italic {
  font-style:italic;
}
.greyText {
  color:rgb(130,130,130);
}
.flexGrow {
  flex-grow:1;
}
.clickable {
  transition:0.5s;
  user-select:none;
  padding:10px;
  border:2px solid rgb(60,60,60);
  color:rgb(255,253,247);
  position:relative;
}
.clickable div:first-child {
  position:absolute;
  top:-1px;
  left:-2px;
  width:100%;
  height:100%;
  padding:0 3px 2px 0;
  background-color:rgb(60,60,60);
  z-index:-10;
  transition:3s;
}
.clickable:active div:first-child {
  transition:0s;
  width:0%;
}
.clickable:hover {
  cursor:pointer;
  padding-left:20px;
}
.clickable:active {
  transition:0.05s;
  padding-left:12px;
}
/* specific styles */


.main {
  height:100%;
  width:100%;
  max-width:1100px;
  display:flex;
  padding:30px 50px;
  box-sizing:border-box;
}
.main .left, .main .right {
  display:flex;
  flex-direction:column;
}
.main .left {
  padding-right:50px;
}
.main .right {
  width:600px;
  flex-shrink:0;
}
.main .left .top {
  height:100px;
}
.locationImage {
  background-color:rgb(65,65,65);
  background-size:cover;
  width:calc(100% - 100px);
  margin-left:50px;
  height:200px;
  box-sizing:border-box;
}
.locationImage img {
  width:100%;
  height:100%;
}
.locationSubtitle {
  margin:20px 0;
}
.locations {
  padding:10px 0 10px 0;
}
.notifications {
  position:relative;
}
.notifFader {
  height:100%;
  width:calc(100% + 10px);
  position:absolute;
  top:0;
  left:0;
  background:rgb(255,253,247);
  background:linear-gradient(180deg, rgba(255,253,247,0) 40%, rgba(255,253,247,1) 100%);
  pointer-events:none;
}
